@import "../../../node_modules/bulma/sass/layout/footer.sass";
// @import "../../../node_modules/bulma/sass/elements/content.sass";
// @import "../../../node_modules/bulma/sass/elements/icon.sass";

.footer {
	background-color: #ccc;
	padding: 1rem 1.5rem;
	display: flex;
	justify-content: space-between;

	// @include tablet {
	// 	padding: 1rem 10rem;
	// }
}

// .navbar {
// 	display: flex;
// 	justify-content: space-between;
// 	border: 1px solid #000;

// &__content {
// 	display: flex;
// 	justify-content: space-between;
// }
// }
