@import '../../../node_modules/bulma/sass/layout/footer.sass';

.footer {
  background-color: #ccc;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  background: var(--color-black);

  // @include tablet {
  // 	padding: 1rem 10rem;
  // }
}
