@import '../../../node_modules/bulma/sass/layout/footer.sass';

.footer {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  background: var(--color-black);
  a {
    width: auto;
  }
}
