@import '../../../node_modules/bulma/sass/components/navbar.sass';

.header {
  background-color: #a7ddca;
  //display: flex;
  //flex-direction: column;

  &__buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
}

.default {
  display: flex;
  padding: 0.5rem 1rem;
}
