@import "../../../node_modules/bulma/sass/components/navbar.sass";

.header {
	background-color: #ccc;
	//display: flex;
	//flex-direction: column;

	&__buttom {
		display: flex;
		justify-content: space-between;
		padding: 0 1rem;
	}
}
