// .tile {
// 	background: url(../../images/maths.jpg);
// 	background-size: cover;
// 	background-position: center;
// 	min-width: 30rem;
// 	min-height: 30rem;
// }

.tile {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
