:root {
	--color-black: #000;
	--color-white: #fff;
	--color-tag: #ff8c00;
	--color-red: red;
	--color-query-background: cyan;
	--color-input: #d4fef9;
	--color-focus: #228ae6;
	--font-main: "Roboto", sans-serif;
	--font-logo: "Lato", sans-serif;
	--font-base-line-height: 1.4;
	--font-thin: 300;
	--font-normal: 400;
	--font-thick: 600;
	--font-thicker: 700;
}
